# dependencies
/node_modules

# Visual Studio Code settings
.vscode/

# build output
/dist
/build

# dotenv environment variables file
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db