.content_wrap {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    width: 100%;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    margin-top: 5vh;
}

.upload_container {
    margin-bottom: 1rem;
}

.upload_box {
    width: 100%;
    height: 5vh;
    min-height: 50px;
    border: 2px dashed var(--light-grey-color);
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    color: var(--light-grey-color);
    transition: color 0.3s ease, border-color 0.3s ease;
    gap: 10px;
}

.upload_box:hover,
.upload_box.filled {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.input_form {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.input_form .input_row {
    display: flex;
    gap: 2rem;
}

.textarea_container {
    flex: 1;
    display: flex;
    max-height: 40vh;
}

.img_container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img {
    width: 90%;
}

.btn_container {
    align-self: center;
    margin-top: 2vh;
}

/* ------------- Responsive Tablet/Mobile styles ------------- */
@media(max-width: 768px) {
    .img_container {
        display: none;
    }
}

@media(max-width: 425px) {
    .input_form .input_row {
        flex-direction: column;
        gap: 0;
    }

    .content_wrap {
        padding: 5vh 10%;
        text-align: center;
    }
}