.content_wrap {
    display: flex;
    padding: 5vw;
    width: 100%;
    min-height: 100vh;
}

.section {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section h2 {
    margin-bottom: 2rem;
}

.section form {
    width: 65%;
}

.btn_container {
    margin-top: 2rem;
}

.section p {
    margin: 3vh 0;
    font-size: clamp(0.6rem, 0.9vw, 1.7rem);
}

.text_link {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: clamp(0.6rem, 0.9vw, 1.7rem);
}

.forgot_pass {
    margin-bottom: 8%;
}

.rectangle {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--grey-background-color);
}

.img {
    z-index: 1;
    width: 100%;
    height: auto;
}

/* ------------- Responsive Tablet/Mobile styles ------------- */
@media(max-width: 768px) {
    .content_wrap {
        flex-direction: column;
    }

    .section:last-child { /* Remove image */
        display: none;
    }
}

@media (max-width: 425px) {
    .section form {
        width: 80%;
    }
}