/* ---------------------- General styles ---------------------- */
.navbar{
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: sticky;
    background-color: var(--primary-color);
    box-shadow: 0 4px 14px rgba(0,0,0,.1);
}

.nav_links_container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: none;
    color: var(--white-color);
    height: 18px;
    cursor: pointer;
}

.main_list,
.courses_list,
.auth_buttons {
    display: flex;
    align-items: center;
}

.nav_item {
    padding: 10px 20px;
    text-wrap: nowrap;
}

.nav_link {
    text-decoration: none;
    color: var(--white-color);
    position: relative;
    transition: color 0.3s ease;
}

.nav_link:hover {
    color: var(--secondary-color);
}

/* ------------- Specific styles for main section ------------ */
.main_section {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    font-size: clamp(0.75rem, 0.9vw, 1.5rem);
}

.logo {
    width: clamp(4rem, 6vw, 8rem);
    height: auto;
    margin-right: 2rem;
}

.main_list .nav_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
    opacity: 0;  /* Initially, the line is transparent */
}

.main_list .nav_link:hover::after,
.main_list .active::after {
    width: 100%;
    opacity: 1;  /* The line becomes visible */
}

.nav_button {
    padding: 10px 20px;
    border: 2px solid var(--secondary-color);
    background: none;
    color: var(--white-color);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 4px;
    margin-left: 10px;
    font-size: clamp(0.75rem, 0.9vw, 1.5rem);
}

.nav_button:hover{
    background-color: var(--secondary-color);
}

/* ----------- Specific styles for courses section ----------- */
.courses_section {
    display: none;
    padding: 0 5vw;
    font-size: clamp(0.70rem, 0.85vw, 1.4rem);
    border-top: 1px solid var(--dark-grey-color);
}

.courses_section.visible {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses_list .active {
    color: var(--secondary-color);
}

.courses_list {
    flex-wrap: wrap;
    overflow-y: hidden;
    max-height: 4.6vh;
}

@media(min-width: 769px) {
    .courses_list li:first-child {
        padding-left: 0;
    }
}

.courses_dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 5vw;
    width: 20vw;
    padding: 1vh 0;
    background-color: var(--primary-color);
    box-shadow: 0 4px 14px rgba(0,0,0,.1);
    border-top: 1px solid var(--dark-grey-color);
}

.courses_dropdown.visible,
.icon.visible {
    display: block;
}

.courses_dropdown .nav_item {
    font-size: clamp(0.70rem, 0.85vw, 1.4rem);
}

/* ------------- Responsive Tablet/Mobile styles ------------- */
.transparent_background {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

.hamburger_menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 14rem;
    padding: 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
}

.hamburger_menu.menu_opened {
    transform: translateX(0);
    opacity: 1;
}

.hamburger_menu .icon {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .main_section .icon {
        display: block;
    }

    .nav_links_container {
        display: none;
    }

    .nav_item { /* Remove horizontal padding */
        padding: 10px 0;
    }

    .auth_buttons {
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
    }

    .nav_button {
        width: 100%;
        margin: 5px;
    }

    .main_list,
    .courses_list {
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
    }

    .main_list {
        padding: 2.5vh 0;
    }

    .courses_list {
        align-items: flex-start;
        max-height: 15rem;
        flex-wrap: nowrap;
        padding: 2.5vh 0;
        border-top: 1px solid var(--dark-grey-color);
    }
}