/* ------------------ Common styles ------------------ */
.container {
    width: 100%;
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

.container label {
    position: absolute;
    top: -1.2vh;
    left: 1vw;
    padding: 0 5px;
    pointer-events: none;
    color: var(--light-grey-color);
    font-size: clamp(0.8rem, 1.1vw, 2rem);
    background-color: var(--white-color);
}

.input_box {
    flex: 1;
    display: flex;
    padding: 1.5vh 1vw;
    outline: none;
    border-radius: 0.5vw;
    border: 0.1vw solid var(--light-grey-color);
}

/* Change input box border color on focus or filled */
.input_box:focus-within,
.input_box.open_dropdown,
.input_box.filled {
    border-color: var(--secondary-color);
}

/* Change label color on focus or filled */
.container:focus-within label,
.container label.open_dropdown,
.container label.filled {
    color: var(--secondary-color);
}

.box_icon {
    width: 5%;
    min-width: 1rem;
    cursor: pointer;
    color: var(--light-grey-color);
}

.text_input {
    width: 100%;
    border: none;
    outline: none;
    font-size: clamp(0.7rem, 1vw, 1.8rem);
}

.text_input::placeholder {
    font-size: clamp(0.6rem, 0.9vw, 1.7rem);
    color: var(--light-grey-color);
}

/* ------------- Text input field styles ------------- */
.text_container {
    display: flex;
    width: 100%;
    padding: 0;
}

/* Hide the default password visibility toggle icon */
.text_input[type="password"]::-ms-reveal,
.text_input[type="password"]::-ms-clear {
    display: none;
}

.input_box textarea {
    resize: none;
}

/* ------------ Select input field styles ------------ */
.dropdown {
    background-color: var(--white-color);
    position: absolute;
    top: 110%;
    width: 100%;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    border: 0.1vw solid var(--light-grey-color);
    max-height: 7rem;
    overflow-y: auto;
}

.dropdown li {
    padding: 5px 4%;
    color: var(--dark-grey-color);
    font-size: clamp(0.7rem, 1vw, 1.8rem);
}

.highlighted {
    background-color: var(--grey-background-color);
    color: var(--black-color) !important;
}

/* --------------- Checkbox input field styles --------------- */
.custom_ckeckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom_ckeckbox input[type="checkbox"] { /* Hide default styles */
    opacity: 0;
    cursor: poitner;
    position: absolute;
}

.custom_ckeckbox .checkmark {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    position: relative;
    border-radius: 4px;
    border: 2px solid var(--dark-grey-color);
    background-color: var(--white-color);
    transition: background-color 0.3s ease;
}

.custom_ckeckbox input:checked +.checkmark {
    background-color: var(--secondary-color);
}

.custom_ckeckbox .checkmark::after {
    content: '';
    position: absolute;
    display: none;
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.custom_ckeckbox input:checked + .checkmark::after {
    display: block;
}

/* ------------- Responsive Tablet/Mobile styles ------------- */
@media(max-width: 425px) {
    .container label {
        left: 0.4rem;
    }

    .input_box {
        padding: 1.5vh 0.4rem;
    }
}
