/* -------------------------- Colors -------------------------- */
:root {
    --black-color: #000;
    --white-color: #fff;
    --red-color: #CF142B;
    --yellow-color: #FFD101;
    --dark-grey-color: #4F5560;
    --light-grey-color: #CCCACA;
    --grey-background-color: #EEEEEE;
    --primary-color: #222831;
    --secondary-color: #588BC7;
}

/* ----------------------- General Styles ---------------------- */
*, *::before, *::after { /* Include padding and border within the element's width and height */
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif; 
    font-size: clamp(0.7rem, 1vw, 2rem); /* general font size */
    color: --var(--black-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    color: var(--secondary-color);
    font-family: 'Asap Condensed';
}

h2 { /* Header title in all pages */
    font-size: clamp(2rem, 2.8vw, 4.5rem);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.small_font {
    font-size: clamp(0.6rem, 0.9vw, 2rem);
}

.no_scroll {
    overflow: hidden;
}



